@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 200 43% 99%;
      --foreground: 204 48% 6%;
      --card: 200 43% 99%;
      --card-foreground: 204 48% 6%;
      --popover: 200 43% 99%;
      --popover-foreground: 204 48% 6%;
      --primary: 203 54% 53%;
      --primary-foreground: 204 48% 6%;
      --secondary: 203 57% 73%;
      --secondary-foreground: 204 48% 6%;
      --muted: 200 43% 20%;
      --muted-foreground: 204 48% 70%;
      --accent: 203 61% 61%;
      --accent-foreground: 204 48% 6%;
      --destructive: 0 85% 60%;
      --destructive-foreground: 204 48% 6%;
      --border: 200 43% 20%;
      --input: 200 43% 20%;
      --ring: 203 61% 40%;
      --radius: 0.5rem;
    }
   
    .dark {
      --background: 200 60% 1%;
      --foreground: 204 48% 94%;
      --card: 200 60% 1%;
      --card-foreground: 204 48% 94%;
      --popover: 200 60% 1%;
      --popover-foreground: 204 48% 94%;
      --primary: 203 54% 47%;
      --primary-foreground: 200 60% 1%;
      --secondary: 203 57% 27%;
      --secondary-foreground: 204 48% 94%;
      --muted: 200 61% 80%;
      --muted-foreground: 204 48% 94%;
      --accent: 203 61% 39%;
      --accent-foreground: 204 48% 94%;
      --destructive: 0 62% 30%;
      --destructive-foreground: 204 49% 10%;
      --border: 200 60% 60%;
      --input: 200 61% 80%;
      --ring: 203 61% 60%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }